@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{--red: rgb(255,93,96);}
:root{--lightblue: #A8D0E6;}
:root{--blue: #374785;}
:root{--darkblue: #24305E;}
:root{--highlight: #F8E9A1;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
a{
    all:unset;
    cursor:pointer;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    /* overflow-x: hidden; */
}

nav{
    height: 7vh;
    width: 100%;
    background-color: var(--red);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;

}
main{
    padding: 50px 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: absolute; */
    /* background-color: var(--lightblue); */
    /* opacity: 0.3; */
    z-index: 1;
}
main::before {
        content: "";
        background-image: url(https://live.staticflickr.com/4094/4964497501_2e950a1387_b.jpg);
        background-size: cover;
        background-color: var(--lightblue);
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
}

footer{
    background-color: var(--darkblue);
    height: 5.5vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0px 20px;
}
h5{
    /* font-style: italic; */
    font-weight: 300;
    font-size: 16px;
}
.social{
    height:100%;
    max-height: 5.5vh;
    display: flex;
    gap: 20px;
    align-items: center;
}
.social > a{
    height: 100%;
    display: flex;
}

.social img{
    height: 60%;
    align-self: center;
}

h1{
    font-size: 45.5px;
    font-family: 'Righteous', cursive;
    position: relative;
    color: var(--blue)
}

p{
    font-size: 18px;
    text-align: justify;
    margin-top: 16px;
}

.logo-container{
    height: 100%;
    width: 100%;
}

.logo{
    height: 100%;
}

.links{
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 26px;
}
.links > a:hover {
    color: var(--highlight);
}

.homebody{
    display: flex;
    justify-content: space-between;
}
.text-container{
    width: 60%;
    padding-right: 40px;
}

.text-container > p{
    position: relative;
    color: white;
    font-size: 24px;
}

.homebody > img{
    /* visibility: hidden; */
    width: 40%;
    height: auto;
    /* border-radius: 20px; */
    z-index: 1;
    object-fit: cover;

    /* -webkit-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.55);
    box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.55); */
}



/*
#background {
    position: fixed;
    top: -19vh;
    left: 0;
    bottom:0%;
    min-width: 100%;
    min-height: 90%;
    opacity: 0.8;
    z-index: -1;
    overflow-x: hidden;
} */


/*
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container > div{
    position: absolute;
}

.text1, .text2, .text3, .text4{
    color: white;
    font-weight: 300;
    font-size: 120px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 95%;
}

.text1 :last-child, .text2 :last-child, .text3 :last-child{
    color: var(--darkblue)
}


.text1{
    animation: textappear1 20s infinite;
}
.text2{
    animation: textappear2 20s infinite;
}
.text3{
    animation: textappear3 20s infinite;
}
.text4{
    animation: textappear4 20s infinite;
    font-weight: 100;
    color: var(--highlight);
}



@keyframes textappear1 {
    0% {opacity: 0;}
    20% {opacity: 0.8;}
    40% {opacity: 0;}
    60% {opacity: 0;}
    80%  {opacity: 0;}
    100%  {opacity: 0;}
}

@keyframes textappear2 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 0.8;}
    60% {opacity: 0;}
    80%  {opacity: 0;}
    100%  {opacity: 0;}
}

@keyframes textappear3 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 0.8;}
    80%  {opacity: 0;}
    100%  {opacity: 0;}
}

@keyframes textappear4 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 0;}
    80%  {opacity: 0.8;}
    100%  {opacity: 0;}
} */




