@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{--red: rgb(255,93,96);}
:root{--lightblue: #A8D0E6;}
:root{--blue: #374785;}
:root{--darkblue: #24305E;}
:root{--highlight: #F8E9A1;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
a{
    all:unset;
    cursor:pointer;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
h1{
    font-size: 45.5px;
    /* font-family: 'Righteous', cursive; */
    position: relative;
    color: var(--blue);
    font-weight: 200;
    margin: 20px 0px 10px;
    
}
h2{
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 100;
}


p{
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
}
nav{
    height: 7vh;
    width: 100%;
    background-color: var(--red);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.logo-container{
    height: 100%;
    width: 100%;
}

.logo{
    height: 100%;
}

.links{
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 26px;
}
.links > a:hover {
    color: var(--highlight);
}

main{
    padding: 50px 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* background-color: var(--lightblue); */
    /* opacity: 0.3; */
    /* z-index: 0; */
}
main::before {
        content: "";
        background-image: url(../assets/images/Silencio.jpg);
        background-size: cover;
        background-color: var(--lightblue);
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
}
form{
    z-index: 1;
    background-color: var(--blue);
    color: white;
    width: 53vw;
    padding: 40px 0px 30px;
    border-radius: 20px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    width: 680px;
    /* text-align: justify; */
}

.form  * {
    font-size: 20px;
    font-family: 'Lato';
    margin: 8px 2px;
    font-weight: 300;
    
}

input, select, textarea{
    width: 200px;
    height: 30px;
    padding: 0px 8px;
    border: none;
    border-bottom: 1px solid white;
    /* border-radius: 4px; */
    font-family:inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: inherit;
    outline: none;
    color-scheme: dark;
}

input::placeholder {
    font-weight: inherit;
    font-size: 20px;
    /* opacity: 0.5; */
    color: inherit;
  }  

input:hover, select:hover{
    color: var(--highlight);
    border-bottom: 1px solid var(--highlight);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 12rem;
    border: none;
    height: inherit;
    padding: 8px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: var(--lightblue);
    height: 0.1rem;
    border-radius: 5px;
    /* opacity: 1; */
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px;
    background-color: white;
    /* border: 1px solid var(--lightblue); */
    height: 12px;
    width: 12px;
    border-radius: 6px;    
 }

 input[type="range"]:hover::-webkit-slider-runnable-track {
    background-color: var(--highlight);
  }

 /* input[type="range"]:hover::-webkit-slider-thumb {
    background-color: var(--highlight);
  } */

input[type="submit"]{
    border: 1px solid var(--lightblue);
    color: var(--lightblue);
    opacity: 1;
    margin-top: 16px;
    cursor: pointer;
}

/* #name{
    width: 200px;
} */
#company{
    width: 250px;
}
#goals{
    width: 280px;
}
#budget{
    margin-top: 14px;
}
#email{
    margin: 16px 0px;
}

footer{
    background-color: var(--darkblue);
    height: 5.5vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0px 20px;
}
h5{
    /* font-style: italic; */
    font-weight: 300;
    font-size: 16px;
}
.social{
    height:100%;
    max-height: 5.5vh;
    display: flex;
    gap: 20px;
    align-items: center;
}
.social > a{
    height: 100%;
    display: flex;
}

.social img{
    height: 60%;
    align-self: center;
}

