@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{--red: rgb(255,93,96);}
:root{--lightblue: #A8D0E6;}
:root{--blue: #374785;}
:root{--darkblue: #24305E;}
:root{--highlight: #F8E9A1;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
a{
    all:unset;
    cursor:pointer;
}

html{
    overflow-x: hidden !important;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-x: hidden;

}
nav{
    height: 7vh;
    width: 100%;
    background-color: var(--red);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;

}
main{
    padding: 50px 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
main::before {
        content: "";
        background-color: var(--lightblue);
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.3;
}

footer{
    background-color: var(--darkblue);
    height: 5.5vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0px 20px;
}
h5{
    /* font-style: italic; */
    font-weight: 300;
    font-size: 16px;
}
.social{
    height:100%;
    max-height: 5.5vh;
    display: flex;
    gap: 20px;
    align-items: center;
}
.social > a{
    height: 100%;
    display: flex;
}

.social img{
    height: 60%;
    align-self: center;
}

p{
    font-size: 18px;
    text-align: justify;
    margin-top: 16px;
}

.logo-container{
    height: 100%;
    width: 100%;
}

.logo{
    height: 100%;
}

.links{
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 26px;
}
.links > a:hover {
    color: var(--highlight);
}

/* .video-container{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} */

.video-container{
    overflow-x :hidden;
}

#background {
    position: fixed;
    top: -20vh;
    left: 0;
    bottom:0%;
    min-width: 100%;
    min-height: 100%;
    /* opacity: 0.8; */
    z-index: -1;
    overflow-x: hidden;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container > div{
    position: absolute;
}

.text1, .text2, .text3, .text4{
    color: white;
    font-weight: 300;
    font-size: 120px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 95%;
}

.text1 :last-child, .text2 :last-child, .text3 :last-child{
    color: var(--darkblue)
}

.text1{
    animation: textappear1 20s infinite;
}
.text2{
    animation: textappear2 20s infinite;
}
.text3{
    animation: textappear3 20s infinite;
}
.text4{
    animation: textappear4 20s infinite;
    font-weight: 200;
    color: var(--lightblue);
}

@keyframes textappear1 {
    0% {opacity: 0;}
    12% {opacity: 0.8;}
    25% {opacity: 0;}
    37% {opacity: 0;}
    50%  {opacity: 0;}
    62%  {opacity: 0;}
    75%  {opacity: 0;}
    87%  {opacity: 0;}
    100%  {opacity: 0;}
}

@keyframes textappear2 {
    0% {opacity: 0;}
    12% {opacity: 0;}
    25% {opacity: 0;}
    37% {opacity: 0.8;}
    50%  {opacity: 0;}
    62%  {opacity: 0;}
    75%  {opacity: 0;}
    87%  {opacity: 0;}
    100%  {opacity: 0;}
}

@keyframes textappear3 {
    0% {opacity: 0;}
    12% {opacity: 0;}
    25% {opacity: 0;}
    37% {opacity: 0;}
    50%  {opacity: 0;}
    62%  {opacity: 0.8;}
    75%  {opacity: 0;}
    87%  {opacity: 0;}
    100%  {opacity: 0;}
}

@keyframes textappear4 {
    0% {opacity: 0;}
    12% {opacity: 0;}
    25% {opacity: 0;}
    37% {opacity: 0;}
    50%  {opacity: 0;}
    62%  {opacity: 0;}
    75%  {opacity: 0;}
    80%  {opacity: 1;}
    100%  {opacity: 0;}
}